<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:rdb="http://www.dangdang.com/schema/ddframe/rdb" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd 
                        http://www.dangdang.com/schema/ddframe/rdb 
                        http://www.dangdang.com/schema/ddframe/rdb/rdb.xsd 
                        ">
    <context:property-placeholder location="classpath:conf/db.properties" ignore-unresolvable="true"/>
    
    <bean id="dbtbl_0" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${database.wirte.driverClassName}"/>
        <property name="url" value="${database.wirte.url}"/>
        <property name="username" value="${database.wirte.username}"/>
        <property name="password" value="${database.wirte.password}"/>
    </bean>

    <!-- <bean id="dbtbl_1" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306tbl_1"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean> -->

    <!-- <rdb:strategy id="databaseStrategy" sharding-columns="user_id" algorithm-class="com.dangdang.ddframe.rdb.sharding.spring.algorithm.SingleKeyModuloDatabaseShardingAlgorithm"/> -->
    <rdb:strategy id="tableStrategy" sharding-columns="ou_id" algorithm-class="com.liu.shardingjdbc.SingleKeyModuloTableShardingAlgorithm"/>
    <!-- <rdb:strategy id="tableStrategy" sharding-columns="ou_id" algorithm-class="com.dangdang.ddframe.rdb.sharding.api.strategy.table.NoneTableShardingAlgorithm"/> -->

    <rdb:data-source id="shardingDataSource">
        <!-- <rdb:sharding-rule data-sources="dbtbl_0,dbtbl_1" default-data-source="dbtbl_0"> -->
        <rdb:sharding-rule data-sources="dbtbl_0" default-data-source="dbtbl_0">
            <rdb:table-rules>
                <rdb:table-rule logic-table="t_user" actual-tables="t_user_1401,t_user_1402" table-strategy="tableStrategy"/>
                <rdb:table-rule logic-table="t_ou_info" actual-tables="t_ou_info_1401,t_user_1402" table-strategy="tableStrategy"/>
            </rdb:table-rules>
            <rdb:binding-table-rules>
                <rdb:binding-table-rule logic-tables="t_user, t_ou_info"/>
            </rdb:binding-table-rules>
            <rdb:default-database-strategy sharding-columns="none" algorithm-class="com.dangdang.ddframe.rdb.sharding.api.strategy.database.NoneDatabaseShardingAlgorithm"/>
        </rdb:sharding-rule>
        <rdb:props>
            <prop key="metrics.enable">true</prop>
        </rdb:props>
    </rdb:data-source>
</beans>